<div class="p-24 ">
    <div class="p-12  w-full  rounded-lg shadow-[0_3px_10px_rgb(0,0,0,0.2)]	">
        <div class="w-full max-w-lg">
            <h2 class="text-2xl font-semibold pb-16 border-b-[1px] mb-4">User Setting</h2>
            <form class="bg-white  rounded px-8 pt-6 pb-8 mb-4" [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
              <div class="mb-8">
                <label class="block text-gray-700 text-sm font-normal mb-2" for="name">
                  Edit name
                </label>
                <input formControlName ='name'  class="shadow appearance-none border rounded-3xl w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline h-[45px]" id="username" type="text" placeholder="placeholder">
            </div>
              <div class="mb-8">
                <label class="block text-gray-700 text-sm font-normal mb-2" for="language">
                  Edit language
                </label>
                <input formControlName ='language' class="shadow appearance-none border rounded-3xl w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline h-[45px]" id="username" type="text" placeholder="Language">

              </div>

              <div class="mb-8">
                <label class="block text-gray-700 text-sm font-normal mb-2" for="Id">
                  Edit Id
                </label>
                <input formControlName ='id' class="shadow appearance-none border rounded-3xl w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline h-[45px]" id="username" type="text" placeholder="ID">

              </div>

              <div class="mb-8">
                <label class="block text-gray-700 text-sm font-normal mb-2" for="Bio">
                  Edit Bio
                </label>
                <input formControlName ='bio' class="shadow appearance-none border rounded-3xl w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline h-[45px]" id="username" type="text" placeholder="Bio">

              </div>

              <div class="mb-8">
                <label class="block text-gray-700 text-sm font-normal mb-2" for="Version">
                  Edit Version
                </label>
                <input formControlName ='version' class="shadow appearance-none border rounded-3xl w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline h-[45px]" id="username" type="text" placeholder="Verson">

              </div>
              <div class="flex items-center justify-between">
              <!-- <app-button [disabled]="userForm.invalid" [text]="'Update'" (click)="update()"></app-button> -->
              <button [disabled]="userForm.invalid" type="submit" class="block w-full bg-slate-200 hover:bg-teal-300 rounded-2xl border-2 text-white font-bold py-2 px-4 outline focus:outline-none focus:shadow-outline" >
                Update
</button>
              </div>
            </form>
          
          </div>
    </div>
  </div>